/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

* {
  margin: 0px;
} 

#nameAssignment{
    width: 200px;
    height: 20px;
    margin-top: 40px;
    float: left;
    margin-left: 20%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
label{
    margin-left: 60px;
   
    
}

#select_faculty{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    width: 8%;
    float: left;
    margin-left: 60px;
    margin-top: 22px;
}

.filter-condition-faculty{
    font-size: 16px;
     margin-top: 40px; 
    margin-left: 60px;
}
.filter-condition-semester{
    font-size: 16px;
     margin-top: -18.5px; 
    float: left;
    margin-left: 60px;
}


#select_semester{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    
}
.filter-condition-section{
    font-size: 16px;
    margin-top: -18.5px; 
    
}


#select_section{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    width: 8%;
    margin-left: 60px;
    
}

.assign{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-left: 16.5%;
    margin-top: 60px;

}
#assign_date{
    width: 11%;
    height: 20px;
    font-size: 14px;
    margin-left: 4.25%;
   float: left;
}
.due{
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
    margin-top:-63px;
    margin-left: 32.5%;
    margin-bottom: 40px;
}
#due_date{
    width: 12%;
    height: 20px;
    margin-top:0px;
    font-size: 14px;
    margin-left: 62px;
    display: flex;

}




.due button{
    width: 10%;
    height: 28px;
    font-size: 14px;
    margin-left:250px;
    /* margin-top: -2000%; */
