@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body
{
    background-color: #ebebeb;
    font-family: 'Poppins', sans-serif;
    color: #172B4D;
    


}
 h2{
    margin-top: 100px;
 }
 
#school{
    /* font-size: 48px; */
    color:  #172B4D;;
    text-align: center;
    padding: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}



.right{
    background-color: rgb(189, 211, 218);
    border-radius: 20px;
}
label
{
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    margin-bottom:0px; 
    margin-top:-100px;
    margin-left: -397px;
  
}



input
{
    margin-top: 8px;
    margin-bottom: 12px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.15);
    width: 414px;
    height: 52px;
    border: 1px solid rgba(1, 42, 85, 0.37);
    border-radius: 12px;    
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color :#000000;
    padding: 0px 16px;
}

input::placeholder
{
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color : #033f9888;
}

input:focus 
{ 
border: 1px solid #0065FF;
}
#form{
        display: flex;
        flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      
     
}

  input:focus 
    { 
    border: 1px solid #0065FF;
    }

  #form input{
      
      padding: 12px 20px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 5px;
      width: 446px;
      background-color: rgba(255, 255, 255, 0.15);
      

  }

  button
{
    margin-top: 20px;
    height: 64px; width: 446px; border-radius: 12px; border:none; 
    background-color: #0065FF; color:#EDFFE3 ;
    font-size: 20px; font-weight: 600;
   
    margin-bottom: 10px;
    cursor: pointer;
    
}
  #submit:hover{
    background-color: #172B4D;
    color: rgba(255, 255, 255,1);
      border-radius: 5px;
  }

 

  /* --------------student form -------------- */

  table,
td,
th {
border: 1px solid #ddd;
text-align: left;


}

table {
border-collapse: collapse;
width: 100%;
margin: auto;
margin-top: 10px;
}

th,
td {
padding: 15px;
text-align:center;
}

tr > th {
background-color: teal;
color: white;
}

/* .studentData{
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* padding: 15px; */

/* #form1{
    margin: auto;
    width: 80%;
    
}
#form1 input{
 
    margin-right: 15px;
    width:200PX;
    height: 50px;
    color: #000000;
     background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 0px 16px;
    box-sizing: border-box;
    border-radius: 8px;
}
#form1 input:focus{
    outline: none;
} */

.td6{
    display: right;
    align-items: center;
    justify-content: center;
    width:20% ;

}
.td6 > button{
    margin-right: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
} 

.td6 > button:nth-child(1){
    background-color: green;
    width: 30%;
    height: 30%;
    display: right;
}
.td6 > button:nth-child(2){
    background-color: red;
    width: 30%;
    height: 30%;
    
}

#absent{
    background-color: red;
}

/* 
button[type=submit] {
    background-color: #0065FF;
    color: #EDFFE3;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 2.5%;
    margin-left: 1%;
    cursor: pointer;
    height: 50px;
    width: 175px;
    border-radius: 12px;
    border: none;
    background-color: #0065FF;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  button[type=submit]:hover {
    background-color: #0066ff;
    color: rgba(0, 0, 0, 0.39);
  }
  */
.filter-condition-faculty{
    float:left;
    margin-left:80%;
    margin-top: 0px;
    /* width:20%; */
}


.filter-condition-semester{
    float:left;
    
}

.filter-condition-section{
    /* float: left; */
    display:flex;
    height: 20px;
    margin-top: 20px;
}

#btn_filter{
    width:80px;
    height:20px;
    margin-left: 5%;
    font-size: 12px;
    margin-top:0px;
   border-radius:2px;
   border-width:1px;
   
}

input[type=submit]:hover {
    /* background-color: rgba(0, 0, 0, 0.39); */
    color: rgb(0, 4, 255);
  }











  