@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

table {
  border-collapse: collapse;
  width: 95%;
  margin: 20px auto;
}

table th,
table td {
  font-size: 21px;
  padding: 8px;
  text-align: left;
}

table th {
  font-weight: 600;
}

table tr:nth-child(even) {
  background-color: #42424217;
}

table tr:hover {
  background-color: #0000001e;
}

input,
select {
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  width: 172px;
  height: 50px;
  border: 1.5px solid rgba(1, 42, 85, 0.37);
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  padding: 0px 16px;
  margin-right: 10px;
}

input::placeholder,
select {
  font-weight: 400;
  font-size: 15px;
  color: #033f9888;
}

input:focus,
select:focus {
  border: 1px solid #0065FF;
}

.studentData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.filter-conditions {
  display: flex;
  align-items: center;
}

.filter-condition {
  margin-right: 10px;
}

.buttons {
  display: flex;
  align-items: center;
}

button[type=submit],
button#button_add_attendance {
  margin-top: 12px;
  background-color: #0065FF;
  color: #EDFFE3;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

button[type=submit]:hover,
button#button_add_attendance:hover {
  background-color: #172B4D;
  color: #fff;
}

button#button_add_attendance {
  background-color: #0065FF;
  color: #EDFFE3;
  padding: 12px 3/* Remove the existing CSS for #button_search_attendance and .button-row */
}