@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
*{
    margin: 0px;
}

body{
  background-color:  #ebebeb;
    font-family: 'Poppins', sans-serif;
    color:#172B4D;
    margin-top: 43px ;
    margin-left: 46px;

}

 th, td {
                width:auto;
                text-align:left;
                border:1px solid black;
                padding:5px;
                height: 40px;
                border: 0px;
             
            }
th
{
  font-size: 20px;
  font-weight: 600;
 
}
td
{
  font-size: 18px;
  font-weight: 500;

}

p
{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
